@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    font-family: "Poppins";
}
#homepagebg{
    background-color: #F0F5F9;

}
#homepage{
    padding-top: 20px;
    padding-bottom: 20px;

}