  <header>
    <div class="jumbotron jumbotron-fluid">
      <div class="container mb-2">
        
        @* <h1 class="display-4 mt-5">Yılmaz ShopApp</h1> *@
        @* <p class="lead">Yılmaz ShopApp, güvenilir bir alışveriş deneyimi sunarak kullanıcıların ihtiyaçlarını karşılamayı hedefler. Hızlı ve güvenli ödeme seçenekleriyle, kullanıcılar istedikleri ürünleri kolaylıkla satın alabilir ve kapılarına kadar teslim alabilirler. Müşteri memnuniyetine önem veren Yılmaz ShopApp, kullanıcıların sorularını yanıtlamak için etkin bir müşteri hizmetleri ekibiyle iletişim kurmayı sağlar. Hemen bugün Yılmaz ShopApp'i ziyaret edin ve keyifli bir alışveriş deneyimi yaşayın.</p> *@
        
        <img src="~/images/panel.png" width="100%" style="margin-top: 1 0px;"  >

        <hr>
      </div>
    </div>
  </header>