<div class="card mt-3">
    <div class="card-header">
        <h5>Search</h5>
    </div>
    <div class="car-body">
        <form action="/search" class="text-center p-3">
            
            <div class="form-group">
                <input name="q" type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-dark btn-block mt-3" style="width: 100%;">Search</button>

        </form>

    </div>
</div>